.card {
    background: #FFFEFF;
    color: var(--secondary-gray-color);
    border-radius: 20px;
    min-height: 360px;
 }
 
 .card__header {
     border-radius: inherit;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
 }
 
 .card__header__picture {
     border-radius: inherit;
     width: 100%;
 }
 
 .card__content {
     padding: 25px;
 }
 
 .card__content__title {
     font-size: 1.75rem;
     font-weight: 700;
     margin-bottom: 10px;
 }
 
 .card__content__stack  {
     line-height: 23px;
     letter-spacing: 0.50px;
     margin-bottom: 10px;
     text-transform: uppercase;
     opacity: 0.5;
 }
 
 .card__content__description {
     line-height: 23px;
     letter-spacing: 0.50px;
 }