#root {
    display: grid;
    grid-template-columns: 30vw 70vw;
    height: 100vh;
}

main {
    background: #E3E6E8;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 6rem;
    height: 100%;
    overflow: auto;
    gap: 2rem;
    padding: 2rem;
}

header{
    grid-column: 1/-1;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: var(--secondary-gray-color);
}

.header__title {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 4.80px;
}

.cards__container {
    display: grid;
}

.card-project:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card-project {
    transition: 0.5s all ease;
}

@media only screen and (max-width: 1024px) {
    #root {
        grid-template-columns: 100vw;
    }    
}