#root {
    display: grid;
    grid-template-columns: 30vw 70vw;
    height: 100vh;
}

main {
    background: #E3E6E8;
    display: grid;
    grid-template-columns: auto auto;
    align-content: start;
    height: 100%;
    overflow: auto;
    justify-content: space-evenly;
}

header{
    grid-column: 1/-1;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: var(--secondary-gray-color);
}

.header__title {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 4.80px;
} 